<!DOCTYPE html>
<html>
<head>
    <title>Encryptor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Text Encryptor</h2>

        <p>HOW TO USE: If you don't have a password, generate one. <br> SAVE THE PASSWORD if you want to decrypt the things you encrypted.</p>

        <div class="field-group">
            <label>Password:</label>
            <input type="text" id="password" placeholder="Enter or generate a password">
            <button onclick="generatePassword()">Generate Password</button>
            <button onclick="copy('password')" id="copy_result">Copy Password</button>
        </div>

        <label>Text:</label>
        <textarea id="text" placeholder="Enter text..."></textarea>

        <div class="buttons">
            <button onclick="encrypt()">Encrypt</button>
            <button onclick="decrypt()">Decrypt</button>
        </div>

        <textarea readonly id="output"></textarea> 
        <button onclick="copy('output')" id="copy_result">Copy</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
